*{
  margin: auto;
  padding: auto;
  
}
body {
  margin: auto 0px;
}
a{
  color: black;
  text-decoration: none;
}
a:hover{
  color: black;
}


/* | 關於我們 */
.title{
  color: #55957d;
  font-weight: bold;
}
.img03{
  width: 60%;
  height:auto;
}
#img04{
  width: 60%;
  height:auto;
  margin-left: 200px;
}
#text03{
  margin: auto;
}
/* 銷售策略 */
#img05{
  width: 55%;
  height:auto;
  margin-left: 200px;
}