*{
  margin: auto;
  padding: auto;
  
}
body {
  margin: auto 0px;
}
a{
  color: black;
  text-decoration: none;
}
a:hover{
  color: black;

}
.img03{
  width: 100%;
  height: auto;
  display: block; /* 確保圖片以區塊元素顯示 */
  max-height: 700px; /* 如果希望高度不超過 650px，可以設置最大高度 */

  margin-left: 0; /* 調整左邊的 margin */
  padding-left: 0; /* 調整左邊的 padding */
}

/* 卡片區 */
.Contcard .card{
  position: relative;
  top: 30px;
  width: 60%;
  height:auto;
  box-shadow: 12px 10px 5px 1px rgba(0, 0, 0, .1);
  cursor: pointer;
}
.card-title{
  text-align: center;
}
.card_with{
  margin-left: -200px;
}
.Contcard-2{
  margin-top: 50px;
}
#footend{
  margin-top: 70px;
}

/* 下拉菜單連結的樣式 */
.submenu {
  display: none;
  position: absolute;
  background-color: #9ecfbd;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  right: 0;
  z-index: 1; /* 調整層級 */
  opacity: 0;
  top: 200%;
}
.submenu a {
  color: black;
  padding: 16px 16px;
  text-decoration: none;
  display: inline-block;
  /* 調整文字大小 */
  font-size: 16px; /* 這裡的大小可以根據需要進行調整 */
  transition: background-color 0.3s ease; /* 添加背景顏色過渡效果 */
  min-width: 80px;
  text-align: center;
  margin-left: -25px;
}

/* 滑鼠懸停在下拉菜單連結上的效果 */
.submenu a:hover {
  background-color: #7cceb0;
}

/* 滑鼠懸停時顯示下拉內容 */
.dropdown:hover .submenu {
  display: block;
  opacity: 1;
}
/* 当下拉菜单激活时显示下拉内容 */
.dropdown:hover .submenu,
.dropdown:focus-within .submenu {
  display: block;
  opacity: 1;
}

/* 下拉式選單結束 */
